@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-stone-900 text-stone-100;
  }
}
